.header-containner {
  width: 100vw;
  height: 100vh;
  padding-top: 1rem;
  background-image: url('../../assets/background.jpg');

  .content-container {
    margin-top: 15vh;
    display: flex;
    img {
      width: 30vw;
      height: 60vh;
      margin: 0 auto;
    }
    h1 {
      width: 50vw;
      height: 50vh;
      font-size: 12rem;
      margin: 0 auto;
      padding-top: 2vh;
      text-align: left;
    }
  }
}
